<div class="container display-content">
  
  <div class="row top-question patterned">
    <div class="span12">
      {{> tweets_current}}      
    </div>
  </div>
  
  <div class="row additional-content patterned">
    <div class="span5 sidebar">
      <div class="desc">
        {{#site}}
        <h1 class="inset"><a href="{{{raw_url}}}">{{{display_url}}}</a></h1>
        {{/site}}
        <ol class="inset">
          <li>¿Pregunta o comentario?</li>
          <li>Escribe un tweet como reply a <a href="https://twitter.com/{{screen_name}}">@{{screen_name}}</a></li>
          <li>Ve las propuestas en el timeline de <a href="https://twitter.com/{{screen_name}}">@{{screen_name}}</a></li>
          <li>Marca como favoritas las que quieras que respondan</li>
          <li>Las más votadas serán discutidas</li>
        </ol>
      </div>
    </div>
    
    <div class="span7 offset5 content">
      {{> tweets_top}}
    </div>
  </div>
</div>